.point-of-interest img {
  margin: 1rem 0;
  max-width: 100%;
  height: auto;
}

.poi-title {
  margin-bottom: 1rem;
}

.poi-navigation {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.navigation-item {
  background-color: #fff;
  text-align:center;
  padding: 1rem;
  transition: all .2s ease;
  text-decoration: none;
  font-size: .8rem;
  position: relative;
  max-width: 50%;
  width: 50%;
}

.previous-poi {
  margin-right: auto;
}

.next-poi {
  margin-left: auto;
}

.navigation-item:hover {
  background-color: #fafafa;
}

.previous-poi::before, .next-poi::before {
  content:"";
  border: solid #aaa;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  left: 1rem;
}

.next-poi::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 1rem;
  left: auto;
}

.previous-poi::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.navigation-item span {
  display: inline-block;
}

.previous-poi-inner {
  padding-left: 1.5rem;
}

.next-poi-inner {
  padding-right: 1.5rem;
}